.user-list {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 34px;
    .user-list-item {
        width: 420px;
        padding: 16px;
        position: relative;
        margin-bottom: 24px;
        background-color: #f3f3f3;
        border-radius: 8px;
        font-weight: 400;
        line-height: 13px;
        &:nth-child(2n) {
            background-color: #e8e8e8;
        }
        &:hover {
            background-color: #baedff;
        }
        span {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #4b51ef;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            cursor: pointer;
        }
    }
    span {
        margin-right: 10px;
    }
}

.user-list-item__label {
    margin-bottom: 8px;
    label {
        color: #a3a3a3;
    }
}
