.main-container {
  display: flex;
}

.left-panel {
  width: 150px;
  min-height: 100vh;
  padding: 21px;
  background-color: #bdbdbd;
  button {
    padding: 5px 15px;
    background-color: #4b51ef;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    cursor: pointer;
    &.active {
      background-color: #8185f8;
    }
  }
}

.right-panel {
  width: 100%;
  min-height: 100vh;
}
